$zindex-mask:       10; // 选区层
$zindex-highlight:  20; // 高亮层
$zindex-cursor:     30; // 游标层
$zindex-menu:       40; // 菜单层
$zindex-note-list:  50; // 笔记列表层
$zindex-note-input: 60; // 笔记输入层
$zindex-toast:      70; // 提示层


$font-family: 微软雅黑, 'Microsoft YaHei', Arial, 'PingFang SC', -apple-system, 'Lucida Grande', STheiti, sans-serif;